<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<div class="ui text container">
		<h1 class="ui header teal center aligned"> Elastic Search </h1>

		<div class="grid">
			<div class="column">
				<form class='ui large form'>
					<div class="field">
						<input type="text" id="search" placeholder="Enter title to search Movies">
					</div>
				</form>
				<br>
				<div class="ui container">
					<div class="ui list">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/script.js"></script>
</body>

</html>