<!DOCTYPE html>
<html>

<head>
	<title>
		Search Engine
	</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body onload="searchData();populateList()">
	<div class="ui text container">
		<h1 class="ui header teal center aligned"> Elastic Search </h1>
		<div class="grid">
			<div class="column">
				<form class='ui large form'>
					<div class="field">
						<input type="text" id="search" placeholder="Enter title to search Movies"
							onkeyup="searchData()"><br>
						<div class="srow" style="margin: 20px 0 0;">
							<div class="scolumn onebythree">
								<h2 class="ui header teal" style="padding-bottom: 5px;">Filter by: </h2>
							</div>
							<div style="float: right;">
								<div class="btn-group">
									<button id="clearFilter" class="active hide"
										onclick="clearFilters(this);return false">Clear Filters</button>
								</div>
							</div>
						</div>
						<div class="srow">
							<div class="scolumn onebythree pad">
								<h2 class="ui header teal" style="margin: 5px 0;">Genre </h2>
							</div>
							<div class="scolumn onebythree pad">
								<h2 class="ui header teal" style="margin: 5px 0;">Language </h2>
							</div>
							<div class="scolumn onebythree">
								<h2 class="ui header teal" style="margin: 5px 0;">Country</h2>
							</div>
						</div>
						<div class="srow">
							<div class="scolumn onebythree pad">
								<select id="genre" onchange="filterGenre()">
									<option value="" disabled selected hidden>Select a genre</option>
								</select>
							</div>
							<div class="scolumn onebythree pad">
								<select id="language" onchange="filterLanguage()">
									<option value="" disabled selected hidden>Select a language</option>
								</select>
							</div>
							<div class="scolumn onebythree">
								<select id="country" onchange="filterCountry()">
									<option value="" disabled selected hidden>Select a country</option>
								</select>
							</div>
						</div><br>
						<div class="srow">
							<div class="scolumn onebythree">
								<h2 class="ui header teal" style="margin-top: 1px;">Sort By: </h2>
							</div>
							<div class="scolumn onebythree">
								<div class="pad1 btn-group">
									<button class="active" onclick="sort('date',this);return false">Date</button>
									<button onclick="sort('duration',this);return false">Duration</button>
								</div>
							</div>
							<div class="scolumn onebythree">
								<div class="pad2 btn-group">
									<button onclick="sort('asc',this);return false">ASC</button>
									<button class="active" onclick="sort('desc',this);return false">DESC</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<br>
			</div>
		</div>
	</div>

	<div id="no-records" class="hide" style="height: 50px; background: white;text-align: center;font-size: 20px;"><div style="height: 100%; padding-top: 12px;font-weight: bold;">No movies matched the search</div></div>
	<table>
		<thead>
			<tr>
				<th>No.</th>
				<th>Title</th>
				<th>Genre</th>
				<th>Duration</th>
				<th>Released Date</th>
				<th>Language</th>
				<th>Country</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<div style="height: 78px;text-align: center;">
		<ul id="pagination" class="pagination center"></ul>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/script.js"></script>
</body>

</html>